#reflection-button{

    position:fixed;

    top:20px;
    right:20px;

    width:52px;

    height:52px;

    border:none;

    border-radius:16px;

    background:#6d4aff;

    color:white;

    font-size:22px;

    cursor:pointer;

    box-shadow:
        0 8px 22px rgba(109,74,255,.35);

    transition:.2s;

    z-index:1000000;
}

#reflection-button:hover{

    transform:scale(1.08);
}